@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Betandyou-Main';
  // font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Betandyou-Main.woff2') format('woff2'),
    url('../fonts/Betandyou-Main.woff') format('woff'),
    url('../fonts/Betandyou-Main.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Betandyou-Main_1';
  // font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/Betandyou-Main_1.woff2') format('woff2'),
    url('../fonts/Betandyou-Main_1.woff') format('woff'),
    url('../fonts/Betandyou-Main_1.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Cyrvetica';
  // font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/ofont.ru_Cyrvetica Extra Outline.woff2') format('woff2'),
    url('../fonts/ofont.ru_Cyrvetica Extra Outline.woff') format('woff'),
    url('../fonts/ofont.ru_Cyrvetica Extra Outline.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Rounds';
  font-style: normal;
  src:
    url('../fonts/Rounds.woff2') format('woff2'),
    url('../fonts/Rounds.woff') format('woff'),
    url('../fonts/Rounds.ttf') format('ttf');
  font-display: swap;
}