$white: #fff;
$accent:#ffbc00;
$yellow: #f7e335;
$black: #000;
$text:#454545;

$bar-width: 25px;
$bar-height: 3px;
$bar-spacing: 5px;

$xxl-bp: 1500px;
$desktop-bp: 1124px;
$tablet-bp: 992px;
$middle-bp: 768px;
$mobile-bp: 576px;

// :root {
//   --heightHeader: 0;
// }

%montserrat-700 {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 700;
}

%montserrat-500 {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 500;
}

%montserrat-400 {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
}

%nunito-900 {
  font-family: 'Nunito',
    sans-serif;
  font-weight: 700;
}

%betaandyou {
  font-family: 'Betandyou-Main',
    sans-serif;
  // font-weight: 700;
}

%betaandyou_1 {
  font-family: 'Betandyou-Main_1',
    sans-serif;
  font-weight: 400;
}

%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}