.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__svg {
    width: 263px;
    height: 34px;
    // max-height: 2rem;
    // width: 22.2vw;
    // height: auto;
    filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.8));

    @include breakpoint($middle-bp) {
      // min-width: 150px;
      width: 30vw;
    }

    @include breakpoint($mobile-bp) {
      width: 40vw;
      height: 5.2vw;
    }
  }

  &__slogan {
    position: relative;
    // margin-top: 1.5rem;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 266px;
      // width: 60px;
      height: 20px;
      background-image: url('../images/slogan-back.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include breakpoint($tablet-bp) {
        width: 25.85vw;
        height: 2.04vw;
      }

      // @include breakpoint($tablet-bp) {
      //   width: 25.85vw;
      //  height: 2.04vw;
      // }

      // @include breakpoint($middle-bp) {
      //   width: 144px;
      //   height: 12px;
      // }
    }
  }

  &__text {
    position: relative;
    // padding-left: 3.4em;

    color: #e1e1e1;
    font-size: 22px;
    // @extend %nunito-900;
    @extend %betaandyou;
    text-transform: uppercase;
    font-style: italic;

    @include breakpoint($tablet-bp) {
      font-size: 2vw;
    }

    // @include breakpoint($mobile-bp) {
    //   font-size: 9px;
    //      }


  }
}