-   
  var advItem = [
    {pict: 'images/advantages/comission.png', name: 'Высокие комиссии', text: 'Гибкая система согласования комиссий с индивидуальным подходом.' }, 
    {pict: 'images/advantages/autopayment.png', name: 'Автовыплаты', text: 'Гибкая система согласования комиссий с индивидуальным подходом.' }, 
    {pict: 'images/advantages/promo.png', name: 'Промоматериалы', text: 'Постоянно обновляемая база материалов.' },
    {pict: 'images/advantages/range.png', name: 'Широкий ассортимент для клиентов', text: 'Топовые провайдеры казино и огромное разнообразие спортивных событий.' },
    {pict: 'images/advantages/retention.png', name: 'Отличный Retention', text: 'Высокий процент возврата игроков на всех направлениях ставок и казино' }, 
    {pict: 'images/advantages/cabinet.png', name: 'Личный кабинет и ассистент', text: 'Постоянно обновляемая база материалов.' }, 
    {pict: 'images/advantages/offer.png', name: 'Лучшие CPA предложения', text: 'Высокие ставки, высокая конверсия.' }, 
    {pict: 'images/advantages/payment.png', name: 'Платежные методы', text: 'Более 100 платёжных методов.' },
  ]

  advantagesTitle = 'Наши преимущества'

section#advantages.advantages
  .container 
    .advantages__inner
      .advantages__box
        h2.advantages__title.title= advantagesTitle
        .advantages__line.line.
          just color line 
      ul.advantages__list
        for i in advItem
          li.advantages__item
            .advantages__icon-box
              img.advantages__icon(src=i.pict, alt='pict')
            p.advantages__name= i.name
            p.advantages__text= i.text
      button.advantages__show-hide
        span.advantages__show-text.
           Ещё 
        span.advantages__show-icon
          svg.advantages__show-svg 
            <use xlink:href="images/sprite.svg#icon-down"></use>
|
|

