block banner-section
-var bannerTitle = 'Твой лучший партнер в мире ставок!'
-var bannerBtn = 'Стать партнером'

section.banner-section 
  .container
    .banner-section__inner
      h2#bannerTitle.banner-section__title.title= bannerTitle 
      |
      |
      include button-ellipse
      //- a.banner-section__link.btn(href='#')= bannerBtn
|
|  