block banner-section
-var bannerTitle = 'Наши инструменты'
-var bannerBtn = 'Стать партнером'

section.banner-section 
  .container
    .banner-section__inner 
      h2#bannerTitle.banner-section__title= bannerTitle 
      |
      |
      a.banner-section__link.btn(href='#')= bannerBtn
|
|  