block btn-box

  .btn-box
    a#get.btn-box__new(href="https://betandyou.com/registration/" target="_blank").
      получить бонус
    a#rules.btn-box__rules(href="https://betandyou.com/information/rules/" target="_blank").
      правила и условия
  