-
  var contactsTitle = 'Контакты'
  var contactsCommerce = 'martketing@betandyou <span> - для коммерческих предложений</span>'
  var workTime = '<span>Время работы </span>10:00 AM - 7:00 PM UTC+3 EEST'  
section.contacts
  .container 
    .contacts__inner
      .contacts__box
        h2.contacts__title.title= contactsTitle
        .contacts__line.line.
          just color line
      |
      |
      address.contacts__address
        .contacts__row
          .contacts__image 
            svg.contacts__svg 
              use(xlink:href="images/sprite.svg#icon-skype")
          a.contacts__text(href='#').
            live:.cid.3df81dae8872f81c
        .contacts__row
          .contacts__image 
            svg.contacts__svg 
              use(xlink:href="images/sprite.svg#icon-telegramm")
          a.contacts__text(href='#').
            @BetAndYouPartners
        .contacts__row
          .contacts__image 
            svg.contacts__svg 
              use(xlink:href="images/sprite.svg#icon-mail")
          a.contacts__text(href='#').
            support@betandyou.partners
        .contacts__row
          .contacts__image 
            svg.contacts__svg 
              use(xlink:href="images/sprite.svg#icon-mail")
          a.contacts__text(href='mailto: martketing@betandyou')!= contactsCommerce
           
        .contacts__row
          .contacts__image 
            svg.contacts__svg 
              use(xlink:href="images/sprite.svg#icon-alarmclock")
          p.contacts__text!= workTime