block footer-nav 
mixin navLink(link,name,active)
  li.navigation__item
    if(active) 
      a(href=link).navigation__link.active= name
    else 
      a(href=link).navigation__link= name
  |
  |

nav.navigation 
  ul.navigation__list 
    +navLink('#advantages', 'о нас', true)
    +navLink('#', 'условия')
    +navLink('#contacts', 'контакты')
    +navLink('#', 'новости')
    