block variables
  - var logoTextBottom = 'partners'

.logo 
  a(class=logo__link href="#")
    svg.logo__svg 
      use(xlink:href="images/sprite.svg#icon-logo")
    .logo__slogan 
      p.logo__text.min-font= logoTextBottom
      |
      |
      svg.logo__hand 
        use(xlink:href="images/sprite.svg#icon-hand")
