block variables
  - var logoTextRight = 'best bets for you'

.logo 
  a(class="logo__link" href="#")
    svg.logo__svg 
      use(xlink:href="images/sprite.svg#icon-logo")
    .logo__slogan 
      p.logo__text.min-font= logoTextRight
      |
      |
      svg.logo__hand 
        use(xlink:href="images/sprite.svg#icon-hand")
