//- Пример написания миксина
mixin navLink(link, name)
  li 
    a(href=link).nav-link=name

block header
  header.header
    .container
      .header__inner
        .hamburger-wrapper 
          .hamburger-menu
        .header__logo
          include header-logo
        .header__menu
          include header-nav
        .header__action
          include registration
          include langSwitch
        //- include socials
