block variables 
  - var colorLine = 'hedden text - yellow line'

block instruction 

  #load.instruction 
    .instruction__line=colorLine
    .instruction__image-players 
      picture
        source(srcset="images/players.webp")
        img.instruction__img-players( src="images/players.png" alt="players")
    .instruction__image-back 
      picture 
        source(srcset="images/instruction-back.webp")
        img.instruction__img-back(src="images/instruction-back.jpg")
    ul.instruction__items 
      li#instructionNumberOne.instruction__number
        .instruction__article
          p.instruction__action.
            <span></span>
                Зарегистрируйся
      li#instructionNumberTwo.instruction__number
        .instruction__article
          p.instruction__action.
            <span>Введи</span>
                промокод 2021RB
      li#instructionNumberThree.instruction__number
        .instruction__article
          p.instruction__action.
            <span>Внеси</span>
                первый депозит
            <span>до 4600 грн</span>
      li#instructionNumberFour.instruction__number
        .instruction__article
          p.instruction__action.
            <span>Получи </span>свой&nbspбонус <span>на первый депозит</span>
  