block registration

.registration
  .registration__items
    |
    |
    .registration__item 
      button.registration__btn.registration__new-user(type='button').
        регистрация 
    |
    |
    .registration__item 
      button.registration__btn.registration__old-user(type='button').
        вход


