block registration

.registration
  .registration__items
    |
    |
    .registration__item 
      a.registration__btn.registration__new-user(type='button' href='https://betandyou.partners/ru/sign-up').
        регистрация 
    |
    |
    .registration__item 
      a.registration__btn.registration__old-user(type='button' href='https://betandyou.partners/ru/sign-in').
        вход


