-
  var toolsTitle = 'Наши инструменты'
  var toolsItem = [
    { logo: 'images/tools/promocodes.png', title: 'Промокоды' },
    { logo: 'images/tools/api.png', title: 'API' },
    { logo: 'images/tools/xml.png', title: 'XML интструменты' },
    { logo: 'images/tools/postbacks.png', title: 'Postbacks' },
    { logo: 'images/tools/banners.png', title: 'Баннеры с лайв событиями' },
  ] 

section#tools.tools 
  .container 
    .tools__inner
      .tools__box
        h2#toolsTitle.tools__title.title= toolsTitle
        .tools__line.line
          just color line 
      ul.tools__list 
        for i in toolsItem
          |
          |
          li.tools__item 
            .tools__icon-box 
              img.tools__icon(src=i.logo, alt=(promo))
            |
            |
            p.tools__name= i.title
            
|
|
