-
  var toolsTitle = 'Наши инструменты'
  var toolsItem = [
    { logo: 'images/icons/promocodes.png', title: 'Промокоды' },
    { logo: 'images/icons/api.png', title: 'API' },
    { logo: 'images/icons/xml.png', title: 'XML интструменты' },
    { logo: 'images/icons/postbacks.png', title: 'Postbacks' },
    { logo: 'images/icons/banners.png', title: 'Баннеры с лайв событиями' },
  ] 

section.tools 
  .container 
    .tools__inner
      h2#toolsTitle.tools__title= toolsTitle
      |
      |
      ul.tools__list 
        for i in toolsItem
          |
          |
          li.tools__item 
            .tools__icon-box 
              img.tools__icon(src=i.logo, alt=(promo))
            |
            |
            p.tools__name= i.title
|
|
