-
  topTitle = 'Твой Лучший Партнёр в Мире Ставок' 
  topSubtitle = 'Партнерская программа' 
  topBtnText = 'Стать партнером' 

section.top
  .container
    .top__inner
      .top__title-box 
        h1#topTitle.top__title= topTitle 
        p#topSubtitle.top__subtitle!= 'topSubitle <span>betandyou</span>'
      |
      |
      a.top__link.btn(href='#')= topBtnText
|
|