-
  topTitle = 'Твой Лучший Партнёр в Мире Ставок' 
  topSubtitle = 'Партнерская программа <span>betandyou</span>' 
  topBtnText = 'Стать партнером' 

section#top.top

  .container
    .top__inner
      .top__title-box 
        h1#topTitle.top__title= topTitle 
        p#topSubtitle.top__subtitle!= topSubtitle
      |
      |
      include button-ellipse
  .top__img-box
    //- picture
    //-   source(srcset='images/stars.png' media='(max-width: 1920px)')
    //-   img.top__img(src='images/stars.png' alt='')