
block wrapper 
  .wrapper 
    main.main
      |
      |
      include top

      include advantages

      include banner-section

      include tools

      include testemonials

      include contacts


    
      //- section.page
      //-   .container 
      //-     .page__inner 
      //-       .page__top 
      //-         .page__bonus
      //-           h1.page__bonus-name.
      //-             Эксклюзивный <span>бонус</span>
      //-           p.page__for.
      //-             для счастливчиков до
      //-           p.page__bonus-summ.
      //-             4600<span>грн</span>
      //-         .page__promo
      //-           .page__promo-title.
      //-             При вводе <span>промокода</span>
      //-           #pagePromoCode.page__promo-code.
      //-             2021<span>rb</span>
      //-   .container.container--fluid
      //-     include instruction
      //-   .container
      //-     include btn-box
      //-     include socials--mobile
