.advantages {
  position: relative;

  // transform: translateY(-35px);
  scroll-margin-top: 83px;
  background-color: $white;

  box-shadow: 0px -16px 35px 0px rgba(0, 0, 0, 1);

  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% - 1px);
    width: 100%;
    height: 36px;
    left: 0;
    border-radius: 35px 35px 0 0;
    background-color: $white;
  }

  &__inner {
    padding-bottom: 32px;
    text-align: center;
  }

  &__box {
    display: inline-block;
    // max-width: 50%;
    margin: 0 auto 3.6em;

    @include breakpoint($mobile-bp) {
    margin-bottom: 40px;
    }
  }

  &__title {
    // padding: 0 1.5em 0.5em;

  
    // margin: 0 auto;
  }

  .title {}

  &__list {
    // display: grid;
    // grid-gap: 2.5em;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    //  grid-template-rows: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // justify-content: flex-start;

    &.open {

      .advantages__item:nth-child(n+4) {
        // display: none;
        display: flex;
      }
    }
  }

  &__item {
    margin-bottom: 4vw;
    width: 22%;
    // flex-basis: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 4vw;

    @include breakpoint($middle-bp) {
      min-width: 50%;
    }

    @include breakpoint($mobile-bp) {
      min-width: 100%;

    }

    &:nth-child(n+4) {


      display: none;

    }
  }

  &__icon-box {
    //   height: 8.7vw;
    height: clamp(50px, 5.7vw, 107px);
    margin-bottom: 26px;

    //  flex: 0 0 auto;
  }

  &__icon {
    object-fit: cover;
    height: 100%;

    @include breakpoint($mobile-bp) {
      margin: 0 auto;
    }
  }

  &__name,
  &__text {
    color: $text;
    font-size: clamp(10px, 1em, 15px);
    line-height: 1.1;
    @extend %montserrat-700;

    @include breakpoint($middle-bp) {
      padding: 0 3em;
    }
  }

  &__name {
    margin-bottom: 20px;
  }

  &__text {
    // overflow: hidden;
    // height: 62px;

    @extend %montserrat-400;
    flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* fallback */
    max-height: 50px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // -webkit-line-clamp: 3;
    // -webkit-box-orient: vertical;

    // &:after {
    //   content: "";
    //   text-align: right;
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 70%;
    //   height: 1.2em;
    //   background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
    //   pointer-events: none;
    // }
  }

  &__show-hide {
    display: none;

    @include breakpoint($mobile-bp) {
      display: flex;
      margin: 0 auto;

      border: none;
      background-color: transparent;
    }

    &.open {

      &+button {
        display: none;
      }

      // .advantages__show-icon {
      //   transform: rotate(180deg);
      // // }// .advantages__show-icon {
      // //   transform: rotate(180deg);
      // }
    }
  }

  &__show-text {
    padding-right: 10px;

    font-size: clamp(14px, 3vw, 19px);
    color: $text;
    @extend %montserrat-400;
  }

  &__show-icon {
    display: inline-block;
    transition: transform 0.3s linear;
    // transform: rotate(10deg);
  }

  &__show-svg {
    width: 16px;
    height: 16px;

    use {
      stroke: $text;
    }
  }
}