.contacts {
  scroll-margin-top: 83px;
  padding-bottom: 5em;

  background-image: url('../images/contacts-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint($mobile-bp) {
    background-image: url('../images/contactsMobile-bg.jpg');
  }

  &__inner {
    padding-bottom: 32px;
    display: grid;
    place-items: center;
  }

  &__box {
    display: inline-block;
    margin: 0 auto 3.6em;

    @include breakpoint($mobile-bp) {
      margin-bottom: 40px;
    }
  }

  &__title {
    padding: 0 1.5em 0.5em;
    color: $text;
  }

  &__address {
    width: 40vw;

    font-style: normal;

    @include breakpoint($mobile-bp) {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;

    @include breakpoint($mobile-bp) {
      margin-bottom: 34px;
    }

    // &:first-child {
    //   .contacts__image {
    //     // background: $white;
    //   }

    //   svg {


    //     use {
    //       // fill: $accent;
    //     }
    //   }

    //   use {
    //     // fill: #c1c1c1;
    //   }
    // }
  }

  &__image {
    display: grid;
    place-items: center;
    max-width: 54px;
    width: 5vw;
    height: 5vw;
    max-height: 54px;
    margin-right: 6.4%;

    border-radius: 50%;
    background: linear-gradient(346deg, #ffbc00 0%, #f7e335 70%);

    @include breakpoint($mobile-bp) {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &__svg {
    width: 3vw;
    max-width: 35px;
    height: 3vw;
    max-height: 35px;

    @include breakpoint($mobile-bp) {
      // width: 5vw;
      max-width: 35px;
      min-width: 26px;
      height: 100%;
      max-height: 35px;
    }

    use {
      // fill: #fff;
      fill: $white;
    }
  }

  &__text {
    position: relative;

    @extend %montserrat-500;
    font-size: clamp(13px, 1.65em, 15px);
    line-height: 142%;
    color: $text;

    @include breakpoint($mobile-bp) {
      font-size: 12px;
    }

    &:hover {

      &::before {
        opacity: 0.7;
        right: 0;
        width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 100%;
      width: 20%;
      height: 2px;

      transition: opacity 0.3s linear, right 0.3s linear, width 0.3s linear;
      opacity: 0;
      background-image: linear-gradient(90deg, $black, $white);
    }

    span {
      display: block;
    }
  }
}