.navigation {

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    color: $white;
    font-family: 'Arial';
    font-size: clamp(10px, 0.8vw, 14px);
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    transition: border-color 0.3s linear, color 0.3s linear;

    &:hover {
      border-bottom: 1px solid $accent;
    }

    &:active {
      border-bottom: 1px solid $accent;
    }

    &:focus {
      color: darken($white, 20%);

    }
  }
}