.navigation {

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    position: relative;
    
    color: $white;
    font-family: 'Arial';
    font-size: clamp(10px, 0.8vw, 14px);
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

    transition: color 0.3s linear;

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: auto;
      bottom: -2px;
      width: 0;
      height: 1px;
      background-color: $accent;
      transition: width .2s ease-out;
      right: 0;
    }

    &:hover::after {
      width: 100%;
      right: auto;
      left: 0;
    }

    // &:hover {
    //   border-bottom: 1px solid $accent;
    // }

    &:active {
      border-bottom: 1px solid $accent;
    }

    &:focus {
      color: darken($white, 20%);
    }
  }
}