.header {


  background: rgb(41, 41, 41);
  background: linear-gradient(90deg, rgba(41, 41, 41, 1) 0%, rgba(24, 24, 24, 1) 100%);

  &--fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    // .header__inner {
    //   padding: 0.2em;
    // }
  }

  &__empty {
    height: 0;

    // transition: height 0.9s linear;

    .header__empty.height {
      // height: 200px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.9em 0;
    // padding: 20px 0;

    transition: padding 0.3s linear;

    @include breakpoint($tablet-bp) {
      position: relative;
    }

    @include breakpoint($mobile-bp) {
      justify-content: center;
      padding: 0.3em 0;
    }
  }

  &__logo {

    @include breakpoint($tablet-bp) {
      margin-right: auto;
    }
  }

  &__menu {

    @include breakpoint($tablet-bp) {
      order: 10;
      position: absolute;
      top: 100%;
      left: -22px;
      right: 0;
      width: 100%;
      // height: 190px;
      background-color: lighten($color: #292929, $amount: 0.93);
      z-index: 10;
      width: 50%;
    }
  }

  .hamburger-wrapper {
    display: none;
    // background-color: transparent;
    // border: none;
    // box-shadow: none;
    // padding: 0;
    // margin: 0;
    // font-size: 0;
    // margin: auto;
    // margin-top: 5px;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
    padding: 0;
    border-width: 0;
    box-shadow: none;
    border: none;
    font-size: 0;
    background-color: transparent;

    @include breakpoint($tablet-bp) {
      position: relative;
      display: flex;
    }
  }

  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: $bar-width;
    height: $bar-height;
  }

  .hamburger-menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;

    &.animate {
      background: rgba(255, 255, 255, 0);
    }
  }

  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    ;
  }

  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__action {
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // width: 26vw;
    // width: 100%;
    justify-content: space-between;
    padding-right: 120px;

    @include breakpoint($desktop-bp) {
      // width: 28vw;
    }

    @include breakpoint($tablet-bp) {
      width: auto;
    }
  }
}