.logo {
  display: flex;
  align-items: center;

  // flex-direction: column;
  // align-items: flex-end;
  @include breakpoint($tablet-bp) {
    padding-left: 2.5vw;
  }

  @include breakpoint($mobile-bp) {
    padding-left: 1.5vw;
  }

  &__link {
    display: flex;
    align-items: center;

    @include breakpoint($desktop-bp) {
      // display: flex;
      // flex-direction: column;
      // align-items: flex-end;
    }

    @include breakpoint($tablet-bp) {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint($mobile-bp) {
    //  height: 12px;
    }
  }

  &__svg {
    width: 136px;
    height: 20px;
    // max-height: 2rem;
    // width: 22.2vw;
    // height: auto;
    filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.8));

    @include breakpoint($desktop-bp) {
      width: 11vw;
      height: 2vw;
    }

    @include breakpoint($middle-bp) {
      // min-width: 150px;
      width: auto;
      max-width: 17vw;
    }

    @include breakpoint($mobile-bp) {
      width: 40vw;
      height: 4.2vw;
      min-height: 15px;
    }
  }

  &__slogan {
    position: relative;

    display: flex;
    align-items: center;
    margin-left: 0.7vw;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 266px;
      height: 20px;

      background-image: url('../images/slogan-back.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include breakpoint($desktop-bp) {
        min-width: 12.85vw;
        height: 1.5vw;
      }

      @include breakpoint($tablet-bp) {
        width: 25.85vw;
        height: 2.04vw;
      }

      // @include breakpoint($middle-bp) {
      //   width: 144px;
      //   height: 12px;
      // }
    }
  }

  &__text {
    position: relative;
    // padding-left: 3.4em;
    color: #e1e1e1;
    font-size: 16px;
    @extend %betaandyou;
    font-style: italic;
    text-transform: uppercase;

    @include breakpoint($desktop-bp) {
      font-size: clamp(12px, 1.0vw, 14px);
    }

    @include breakpoint($mobile-bp) {
      font-size: clamp(8px, 2.0vw, 12px);
    }
  }

  &__hand {
    width: 43px;
    height: 33px;
    margin-left: 5px;

    @include breakpoint($desktop-bp) {
      width: 25px;
      height: 23px;
    }

    @include breakpoint($mobile-bp) {
      width: 18px;
      height: 15px;
      margin-left: 3px;
    }

    use {
      fill: white;
    }
  }
}