.testemonials {
  position: relative;

  scroll-margin-top: 83px;
  padding-top: 5.2em;
  padding-bottom: 6em;

  @include breakpoint($tablet-bp) {
    padding-top: 7.2em;
  }

  @include breakpoint($middle-bp) {
    padding: 10% 0;
  }

  @include breakpoint($mobile-bp) {
    // padding: 12% 0;
    padding-top: calc(5% + 36px);
    padding-bottom: calc(5% + 36px);
    background-image: url('../images/testimonials-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  // background-image: url('../images/testemonials-bg.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -2px;
    width: 100%;
    height: 36px;
    background-color: $white;
    border-radius: 0 0 40px 40px;
    z-index: 99;

  }

  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -2px;
    width: 100%;
    height: 36px;
    background-color: $white;
    border-radius: 40px 40px 0 0;
  }

  &__inner {
    text-align: center;
  }

  &__box {
    display: inline-block;
    margin: 0 auto 3.6em;

    @include breakpoint($mobile-bp) {
      margin-bottom: 40px;
    }
  }

  &__title {
    // padding: 0 1.5em 0.5em;

    color: $white;
  }

  &__line {
    background: $white;

    &::before {
      background-color: $white;
    }

    &::after {
      background-color: $white;
    }
  }

  &__list {
    // display: grid;
    // grid-gap: 0 4.9vw;
    // grid-template-columns: repeat(auto-fit, minmax(414px, 1fr));
    break-inside: avoid-column;
    column-count: 2;
    column-gap: 10%;

    text-align: left;
    padding: 0 5%;

    @include breakpoint($xxl-bp) {
      column-gap: 8%;
    }

    @include breakpoint($middle-bp) {
      padding: 0;
      column-gap: 6%;
    }

    @include breakpoint($mobile-bp) {
      display: flex;
      flex-direction: column;

      padding: 0 15px;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin: 0 3px;

        &.slick-active {

          button {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }

      button {
        display: inline-block;
        width: 6px;
        height: 6px;

        padding: 0;
        font-size: 0;
        border: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background-color 0.3s linear, box-shadow 0.3s linear;

        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0 4px 1px rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  &__item {
    margin-bottom: 2.8vw;
    padding: 0 1%;
    // flex-basis: 40%;
  }

  &__frame {
    min-height: 131px;
    // padding: 22px 32px 44px 42px;
    padding: 1.4em 1.8em 2.1em 2.1em;
    margin-bottom: 6px;

    background-image: url('../images/frame-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    overflow: hidden;
    /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    break-inside: avoid-column;

    @include breakpoint($xxl-bp) {
      padding: 2.6em 2.6em 3.6em 2.6em;
    }

    @include breakpoint($middle-bp) {
      min-height: 121px;
    }

    @include breakpoint($mobile-bp) {
      padding: 17px 20px 22px 22px;
      min-height: 100px;
    }

  }

  &__text,
  &__link {
    line-height: 109.5%;
  }

  &__text {
    // min-height: 46px;
    @extend %montserrat-500;
    font-size: clamp(10px, 0.9vw, 14px);
    line-height: 1.16;

    @include breakpoint($mobile-bp) {
      line-height: 1.24;
    }
  }

  &__link {
    @extend %montserrat-700;
    font-size: clamp(12px, 1.3vw, 20px);
    color: $white;

    @include breakpoint($tablet-bp) {
      padding-left: 2em;
    }

    &:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
    }
  }

  .vanta-canvas {
    opacity: 0.4;
    min-height: 100%;
  }

  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  }
}