.top {
  background-image: url('../images/top-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  // height: 52vw;

  &__inner {
    padding-top: 9.33vw;
    padding-bottom: 14.63vw;
  }

  &__title-box {}

  &__title {
    // max-width:62vw ;
    max-width: 57vw;
    margin-bottom: 0.5em;
    font-size: clamp(36px, 4.86vw, 76px);
  }

  &__subtitle {
    margin-bottom: 3em;

    font-size: 1.74vw;
    @extend %montserrat-500;
    letter-spacing: 1px;

    span {
      @extend %montserrat-700;
      text-transform: uppercase;
      color: $accent;
      letter-spacing: 0;
    }
  }

  &__link {}

  .btn {}
}